In [ ]:
# DT

In [48]:
# Libs

# data structures
import pandas as pd
import numpy as np

from pathlib import Path
myfolder = Path("C:/Users/pdpc/Documents/MLfiles/Data/")

# patch for overcoming 'float' error in nump 24.1v
np.float = float    
np.int = int   #module 'numpy' has no attribute 'int'
np.object = object    #module 'numpy' has no attribute 'object'
np.bool = bool    #module 'numpy' has no attribute 'bool'

In [108]:
# Data

data = pd.read_excel(myfolder / "zsrv_usda.xlsx", sheet_name="zsrv_usda")

data.head()

      Material gen Antigen
0  100-100-101   a   aa,ab
1  100-100-101   b      bb
2  100-100-103   c      cc
3  100-100-103   d      dc

In [105]:
gen_ref = pd.read_excel(myfolder / "zsrv_usda.xlsx", sheet_name="gen_ref",dtype=str)

gen_ref.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   value   5 non-null      object
 1   gen     4 non-null      object
dtypes: object(2)
memory usage: 208.0+ bytes

SHEET 1

1) 1 row for every material & column name combo

In [109]:
data['Material'] = '000000000' + data['Material'].str.replace("-", "")

data.head()

             Material gen Antigen
0  000000000100100101   a   aa,ab
1  000000000100100101   b      bb
2  000000000100100103   c      cc
3  000000000100100103   d      dc

In [110]:
gen_ref_dict = pd.Series(gen_ref['value'].values, index=gen_ref['gen']).to_dict()

data['gen'] = data['gen'].map(gen_ref_dict)

data

             Material  gen Antigen
0  000000000100100101  001   aa,ab
1  000000000100100101  002      bb
2  000000000100100103  003      cc
3  000000000100100103  005      dc

In [ ]:


# Create a mapping dictionary
mapping_dict = pd.Series(Genetic_Insert['value'].values, index=df2['Material']).to_dict()

# Replace values in 'Material' column of df1
df1['Material'] = df1['Material'].map(mapping_dict)

In [79]:
list1 = data['Material'].unique().tolist()

list1

['100-100-101', '100-100-103']

In [ ]:
combinations = list(itertools.product(list1, list2))
df = pd.DataFrame(combinations, columns=['List1', 'List2'])

In [129]:
df = pd.DataFrame({'column_A': ['val1,val2', 'val1,val2'], 'column_B': ['value1,value2', 'value3,value4']})

df



split_columns(df)

  column_A column_B
0     val1   value1
1     val1   value2
2     val2   value1
3     val2   value2
4     val1   value3
5     val1   value4
6     val2   value3
7     val2   value4

In [125]:
def split_columns(df):
    for column in df.columns:
        if df[column].dtype == object and df[column].str.contains(',').any():
            df = df.assign(**{column: df[column].str.split(',')}).explode(column).reset_index(drop=True)
    return df

In [118]:
df = df.assign(column_B=df['column_B'].str.split(',')).explode('column_B').reset_index(drop=True)

   ID  Values OtherColumn
0   1  value1           A
1   1  value2           A
2   2  value3           B
3   2  value4           B